<div class="uk-grid-margin uk-grid" uk-grid="">

<div class="uk-width-3-4@m uk-first-column">

<div id="speakers-emily-jeffreys" class="uk-margin uk-card uk-card-default uk-card-large uk-scrollspy-inview uk-animation-slide-bottom" uk-scrollspy-class="" style="">

<div class="uk-child-width-expand uk-grid-collapse uk-grid-match uk-grid" uk-grid="">
  <div class="uk-width-1-2@s uk-first-column">
    <div class="uk-cover-container uk-card-media-left"><img src="./assets/img/charmaine.jpg" srcset="./assets/img/charmaine.jpg 487w" sizes="(min-width: 609px) 609px, 100vw" width="609" class="el-image uk-cover" alt="" uk-cover="" style="width: 431px; height: 480px;"><img src="/themes/wordpress/2017/sonic/wp-content/themes/yootheme/cache/speakers-01-99bce7ec.png" srcset="/themes/wordpress/2017/sonic/wp-content/themes/yootheme/cache/speakers-01-83ac2540.png 487w, /themes/wordpress/2017/sonic/wp-content/themes/yootheme/cache/speakers-01-99bce7ec.png 609w" sizes="(min-width: 609px) 609px, 100vw" width="609" class="el-image uk-invisible" alt="">
    </div>
  </div>
<div>

<div class="uk-card-body">

<h3 class="el-title uk-margin uk-h2">
  Emily Jeffreys
</h3>

<div class="el-content uk-margin"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
</div>

                    </div>

            </div>
        </div>

</div>
</div>
</div>
